.TotalLayout { 
    min-height: 100vh;
}

.ContentOuter {
    display: flex;
    background-color: teal;
    padding: 8vh 10vw 0vh 10vw;
}

.ContentInner {
    background-color: #fff;
    padding: 5vh 5vw;
    width: 100%;
}   

.Footer {
    text-align: right;
    display: fixed ;
    bottom : 0;
}

 body {
    font-family: 'Roboto', sans-serif !important;
 }

.SeparatedTop { 
    margin-top: 3vh;
}

.SeparatedBottom { 
    margin-bottom: 2vh;
}

.Success {
    background-color: #87d068;
    border-color: transparent;
    color : #ffffff;
}



